/*
   Copyright 2012 Michael Eichberg et al - www.michael-eichberg.de

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 */

/* 	==General Design==
	A (single) slide is represented by a section element where the class
	is set to "slide". The content of a SECTION.slide element makes up the 
	slide. All SECTION.slide elements together make up the slide set as a
	whole. 

	Each SECTION.slide element defined in a slide set will become the main
	child element of the BODY element when the (single) slide is rendered.
	
	A SECTION.slide element is not expected to contain any other 
	SECTION.slide elements.
	
	==Laying out a Slide==
	Programmatically created sibling elements of the SECTION.slide element
	(e.g., the help menu, the index or the overview) use absolute or fixed
	positioning to avoid interference with a slide's elements.
	The BODY element uses default positioning (static) and SECTION.slide 
	elements use relative positioning. These properties must not change.
	
	Elements that are programmatically added to a slide use absolute/fixed
	positioning and are added before any user defined elements to avoid 
	interference. (E.g., the canvas is associated with a particular slide.)

	==Adaptability==
	In general, colors and font-sizes can be changed and adapted by users.
	Furthermore, the precise position of fixed and absolute elements can 
	be changed. 
	However, the way how elemts are positioned should not be changed and
	the assumption that a slide is 1024x768 is also "hard-coded". In short,
	sizes (margins, paddings, widths, heights, etc.) that are given in pixels
	should not be changed. If a size is given in a relative measure (em)
	it can be changed by a user.

	Usage of z-indexes:
	- ldjs-canvas = 100
	- ldjs-black-layer = 101
	- ldjs-index = 102
	- ldjs-message = 105
	- ldjs-laserpointer = 200
*/
@import "reset.css"; /* Styles that are used to reset the different browser defaults to a single one */
@import "LectureDoc-Slides.css"; /* Styles that are only related to rendering slides. */ 
@import "LectureDoc-Generated.css"; /* Styles that are used by dynamically generated elements; e.g. the help menu. */

@import "LectureDoc-Document.css"; /* Styles that are only related to the standard document layout. */
@import "LectureDoc-Compact.css"; /* Styles that are only related to the compact layout. */
@import "LectureDoc-LightTable.css"; /* Styles that are only related to the light table layout. */
@import "LectureDoc-PrintView.css"; /* Styles that are only related to print view (slide after slide). */

@import "LectureDoc-Typography.css"; /* Styles that are providing a shared typography between all modes. */
@import "LectureDoc-Colors.css"; /* Styles that are only providing a color scheme. */
