/*
   Copyright 2012 Michael Eichberg et al - www.michael-eichberg.de

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 */
@namespace "http://www.w3.org/1999/xhtml";

body {
    color: #111;
}

h1 {
    color: #000;
}

h2 {
    color: #111;
}

h3 {
    color: #111;
}

h4 {
    color: #111;
}

h5 {
    color: #111;
}

h6 {
}

a {
    color: #0d6ea1;
}

a:hover {
    color: #3593d9
}

table {
    border: 1px solid rgba(0,0,0,0.25);
}

table thead {
    background: rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

table tbody {
    background: rgba(0,0,0,0.05)
}

table tfoot {
    background: rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.15);
    border-top: 1px solid rgba(0,0,0,0.2)
}

table tr:nth-child(odd),table th:nth-child(odd),table td:nth-child(odd) {
    background: rgba(255,255,255,0.06)
}

table tr:nth-child(even),table td:nth-child(even) {
    background: rgba(0,0,0,0.06)
}

figcaption {
    background: rgba(0,0,0,.9);
    color: rgba(255,255,255,1);
}

aside {
	background: #efefef;
	-moz-box-shadow: 1em 1em 1em #3c3c3c;
	-webkit-box-shadow: 1em 1em 1em #3c3c3c;
	box-shadow: 1em 1em 1em #3c3c3c;
}

article {
	background: #ffffdd;
}

/* Slides ------------------------------------------------------------------ */

section.slide > div.section-body > aside {
	background: #ddd;
}

section.slide > div.section-body > footer {
	color: #777777;
	border-top-color: #777;
}

/* Selection --------------------------------------------------------------- */
@media screen {
	/* styles for more colorful selection highlights */
	::selection {
		background: rgba(157, 193, 200,.5);
	}
	
	h1::selection {
		background-color: rgba(45, 156, 208, .3);
	}
	
	h2::selection {
		background-color: rgba(90, 182, 224, .3);
	}
	
	h3::selection, h4::selection, h5::selection, h6::selection, li::selection, ol::selection {
		background-color: rgba(133, 201, 232, .3);
	}
	
	code::selection {
		background-color: rgba(0,0,0,.7);
		color: #eee;
	}
	
	code span::selection {
		background-color: rgba(0,0,0,.7) !important;
		color: #eee !important;
	}
	
	a::selection {
		background-color:rgba(255, 230, 102,.2);
	}
	
	td::selection, th::selection, caption::selection {
		background-color: rgba(180, 237, 95, .5);
	}
}