/*
   Copyright 2013 Michael Eichberg et al - www.michael-eichberg.de

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 */

.mc-question {
	text-align: center;
	padding: .4em 1em .4em 1em;
}

.mc-answer {
	padding: .2em 0 .2em 0;
	transition: background 1s;
}

.mc-correct {
	background-color: green;
}

.mc-incorrect {
	background-color: red;
}

.mc-explanation {
	transition: opacity 1s;
	font-style: italic;
	margin-left: 3em;
	opacity: 1;
}

.hidden {
	opacity: 0;
}
