	
	<!-- START - Automatically inserted by LectureDoc in generated HTML files.  -->	
	<script src="Library/Timeline-1.0.0/Timeline.js" type="text/javascript"></script>
	<link href="Library/Timeline-1.0.0/Timeline.css" type="text/css" rel="stylesheet" />
		
	<link rel="stylesheet" href="Library/highlight.js-7.3.0/styles/default.css">
	<script src="Library/highlight.js-7.3.0/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>	
		
	<link href="Library/LectureDoc/LectureDoc.css" type="text/css" rel="stylesheet" />
	<script src="Library/LectureDoc/LectureDoc.js" type="text/javascript"></script>
	<script type="text/javascript">
		function init(event){ LectureDoc.init("Slides") }
		window.addEventListener("DOMContentLoaded",init,false);
	</script>
	
	<!-- END -->